main {
  display: flex; /* Added to enable flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.cart-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px #e1e1e1;
  padding: 10px 20px;
  margin: 10px 0;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d32f2f; /* Darker red */
}
